{% extends "index.html" %}

{% block body %}
<div class="container">


<div class="row">
    
    <div class="col-md-12">

     <h4>   When you publish results using the database, please cite the following papers:</h4>
<ul>
    <li>Dabrowski-Tumanski P, Rubach P, Goundaroulis D, Dorier J, Su&#322;kowski P, Millett KC, Rawdon EJ, Stasiak A, Sulkowska JI, (2018)

        <strong><a href="https://academic.oup.com/nar/advance-article/doi/10.1093/nar/gky1140/5223942#">KnotProt 2.0: a database of proteins with knots and other entangled structures</a></strong>, Nucleic Acids Research, gky1140, https://doi.org/10.1093/nar/gky1140</li>

    <li>Jamroz M, Niemyska W, Rawdon EJ, Stasiak A, Millett KC, Su&#322;kowski P, Sulkowska JI (2014) <strong><a href="https://academic.oup.com/nar/article/43/D1/D306/2436960">KnotProt: a database of proteins with knots and slipknots</a></strong>, Nucleic Acids Research, 43, D306-D314DOI: 10.1093/nar/gku1059</li>

    <li>Sulkowska JI, Rawdon EJ, Millett KC, Onuchic JN and Stasiak A (2012) <strong><a href="http://www.pnas.org/content/109/26/E1715">Conservation of complex knotting and slipknotting patterns in proteins</a></strong>, Proc. Natl. Acad. Sci. U.S.A. 109, E1715–E1723, DOI: 10.1073/pnas.1205918109</li>
</ul>

<h4>   When you publish results concerning knotoids, please cite the original method:</h4>
<ul>
    <li>Dorier J, Goundaroulis D, Benedetti F, Stasiak A (2018) <strong><a href="https://academic.oup.com/bioinformatics/article-lookup/doi/10.1093/bioinformatics/bty365">Knoto-ID: a tool to study the entanglement of open protein chains using the concept of knotoids</a></strong>, Bioinformatics, bty365, DOI: 10.1093/bioinformatics/bty365.</li>
</ul>
</div>

</div>
</div>
{% endblock %}
