{% extends "index.html" %}

{% block body %}
<div class=container>
    <div class="row">
        <div class="col-md-12">
<address>
<strong><a href="http://jsulkowska.cent.uw.edu.pl" target=_blank>    <img src="{{url_for("static",filename="img/ilbsm.png")}}"> Interdisciplinary Laboratory of Biological Systems Modelling</a></strong><br>
    Center of New Technology, University of Warsaw<br>
    Questions should be addressed to: Joanna Sulkowska (jsulkowska AT cent.uw.edu.pl)
</address>
<!-- 
<br>&nbsp;
    <address>
    <strong><a href="http://biocomp.chem.uw.edu.pl" target=_blank><img src="{{url_for("static",filename="img/ltb.png")}}">       Laboratory of Theory of Biopolymers</a></strong><br>
Faculty of Chemistry,
University of Warsaw<br>
Pasteura 1, 02-093 Warsaw, Poland<br>
</address>
-->
</div></div>
</div>

{% endblock %}
