<!doctype html>
<html>
<head>
    <title>
            Entanglement days of biopolymers
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/my_custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ChemDoodleWeb.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/knotoid.css') }}">
    <link rel="shortcut icon" type="image/svg+xml" href="{{ url_for('static',filename='img/logo.svg') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    {% block header %}
    {% endblock %}
</head>
{% macro new() -%}
    <img class="img-new" src="{{ url_for('static',filename='img/new.png') }}">
{%- endmacro %}

<body>
<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-inverse  navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for("index") }}"><img
                    src="{{ url_for('static',filename='img/logo_W.svg') }}" width="25px"></a>
            <a class="navbar-brand" href="{{ url_for("index") }}">Entanglement days of biopolymers</a>
            <button type="button" class="navbar-toggle navbar-inverse" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span><span class="icon-bar"></span>
            <span class="icon-bar"></span>
                <span class="sr-only">Toggle navigation</span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for("program_page") }}"><i class="fa fa-list fa-fw"></i> Program</a></li>
                <li><a href="{{ url_for("speakers_page") }}"><i class="fa fa-search fa-fw"></i> Speakers</a></li>
                <li><a href="{{ url_for("organizers_page") }}"><i class="fa fa-search fa-fw"></i> Organizers</a></li>
                <li><a href="{{ url_for("practical_info") }}"><i class="fa fa-cogs fa-fw"></i> Practical Information</a>
                </li>
            </ul>

<!--
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-info"></i> Read more</a></a>
                    <ul class="dropdown-menu" role="menu">
                    </ul>
                </li>
                <li>
                </li>
-->
        </div><!--/.nav-collapse -->
    </div>
</div>
{% block body %}
    {% with infos = get_flashed_messages() %}
        {% if infos %}
            <div class="content">
                <div class="alert alert-success alert-dismissable">
                    <ul>
                        {% for message in infos %}
                            <li>{{ message|safe }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    {% endwith %}
<div class="container">
    <a href="https://www.uw.edu.pl"><img src="../static/img/uw.png" alt="Cost logo" height="80px" style="margin:0px 0px"></a>
    <a href="https://www.fnp.org.pl"><img src="../static/img/FNP_logo.png" alt="FNP logo" height="60px"></a>
    <a href="https://eutopia.unitn.eu"><img src="https://jsulkowska.cent.uw.edu.pl/wp-content/uploads/2019/01/eutopia.jpg" alt="Eutopia Logo" height="60px"></a>
    <a href="https://www.cost.eu"><img src="https://eutopia.unitn.eu/wp-content/uploads/2019/03/costlogo-300x124.jpg" alt="Cost logo" height="60px"></a>
</div>
    <br>&nbsp;
    <div class="jumbotron">
        <div class="container">
            <img src="{{ url_for('static', filename='img/logo.svg') }}"
                 style="float:left;margin-top:40px;width:320px;height:330px;margin-right:40px;margin-bottom:30px">
            <h1>Entanglement days of biopolymers</h1>
            <h2>Virtual workshop on entangled biomolecules, June 22-26, 2021</h2>
            <h4>Entanglement days of biopolymers is a hybrid event where everybody fascinated in interdisciplinary research will find something interesting.</h4> 
<h4>The event consists of popular science talks, open discussions with experts in different fields of science, introductory and more advanced talks on various types of entangled biopolymers, presentations of databases, practical and technical interactive workshops. The last day is dedicated to children. Everyone interested in biomolecules, biophysics, bioinformatics, and topology is welcome to attend.</h4>
<!--            <p>{{ title_desc }}</p> -->
<!--            <p><a href="{{ url_for('help_learn_more') }}" class="btn btn-primary btn-lg" role="button">Learn more-->
<!--                &raquo;</a></p>-->
        </div>
    </div>

    <div class="container">
        <a href="https://forms.gle/oUmXP52uLMzymAft9"><h2>Registration</h2></a>
        <a href="https://forms.gle/9Qh7JDsSSArodtfE9"><h2>Registration for popular science workshop on Saturday /<br>Rejestracja na sobotnie warsztaty 26 czerwca dla młodych badaczy 😉</h2></a>
        <div class="container">
            <div class="row">

                    <div class="icon-grey-link">
                        <h2>Program</h2>
                        <ul>
                        <h3>22 June – popular science talks in Polish</h3>
                        <h3>23 June –  popular science talks in English</h3>
                        <h3>24-25 June – practical workshops</h3>
                        <h3>26 June – workshop for children</h3><br>
                    </div>
            </div><!-- /.row -->
                        

        </div>
    </div>

{% endblock %}
<div class="container">
    <hr>
    <div class="row">
        <div class="col-md-6">

            &nbsp;
        </div>
        <div class="col-md-6">
            <small class="text-muted" style="float:right">Interdisciplinary Laboratory of Biological Systems
                Modelling
            </small>
        </div>
    </div>
    <!--<img src="http://biocomp.chem.uw.edu.pl/s/piwik.php?idsite=6&rec=1&bots=1" style="border:0" alt="" />-->
</div>
{% if config.WEBSTATS_ENABLED %}
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-72320828-1', 'auto');
        ga('send', 'pageview');

    </script>
{% endif %}
{% block jsdata %}
    <script src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
{% endblock %}

{% block below_js %}
{% endblock %}
</body>
</html>
