{% extends "index.html" %}

{% block body %}
<div class="container">


<div class="row">
    
    <div class="col–md–12">

     <h3> Topoly </h3>
<p>Topoly is Python 3 package for topological analysis of (bio)polymers.<br>
Before instalation make sure you have a recent version of pip by typing in terminal:<br>
<code>pip3 install --upgrade pip</code><br>
Then install by typing:<br>
<code>pip3 install topoly</code><br>
More information at <a href="https://topoly.cent.uw.edu.pl">Topoly package webpage.</a></p>

     <h3> Knot_Pull </h3>
<p>Knot_Pull is Python 3 package for simplifying a 3D structure with perserving its topology.<br>
Before instalation make sure you have a recent version of pip by typing in terminal:<br>
<code>pip3 install --upgrade pip</code><br>
Then install by typing:<br>
<code>pip3 install topoly</code><br>
More information at <a href="https://github.com/dzarmola/knot_pull">Knot_Pull github repository</a></p>

     <h3> Py_Lasso </h3>
<a href="https://pylasso.cent.uw.edu.pl">Py_Lasso plugin webpage</a>

     <h3> KnotProt </h3>
<a href="https://knotprot.cent.uw.edu.pl">KnotProt server webpage</a>

     <h3> LinkProt </h3>
<a href="https://linkprot.cent.uw.edu.pl">LinkProt server webpage</a>

     <h3> KnotGenome </h3>
<a href="https://knotgenom.cent.uw.edu.pl">KnotGenome server webpage</a>

     <h3> Genus for biomolecules </h3>
<a href="https://genus.fuw.edu.pl">Genus for biomolecules server webpage</a>

</div>

</div>
</div>
{% endblock %}
