{% extends "index.html" %}

{% block body %}
<div class="container">


<div class="row">
    
    <div class="col–md–12">

     <h3> Topoly </h3>
<p>Topoly is a Python 3 package for the topological analysis of (bio)polymers.<br>
    It works on Mac OS X and Linux.<br>
Before installation make sure you have a recent version of pip by typing in terminal:<br>
<code>pip3 install --upgrade pip</code><br>
Then install by typing:<br>
<code>pip3 install topoly</code><br>
More information on the <a href="https://topoly.cent.uw.edu.pl">Topoly package webpage.</a></p>

     <h3> Knot_Pull </h3>
<p>Knot_Pull is Python 3 package for simplifying a 3D structure while preserving its topology.<br>
Before installation make sure you have a recent version of pip by typing in terminal:<br>
<code>pip3 install --upgrade pip</code><br>
Then install by typing:<br>
<code>pip3 install knot_pull</code><br>
More information on the <a href="https://github.com/dzarmola/knot_pull">Knot_Pull github repository</a></p>

     <h3> Py_Lasso </h3>
<a href="https://pylasso.cent.uw.edu.pl">Py_Lasso plugin webpage</a>

     <h3> KnotProt </h3>
<a href="https://knotprot.cent.uw.edu.pl">KnotProt server webpage</a>

     <h3> LinkProt </h3>
<a href="https://linkprot.cent.uw.edu.pl">LinkProt server webpage</a>

     <h3> KnotGenome </h3>
<a href="https://knotgenom.cent.uw.edu.pl">KnotGenome server webpage</a>

     <h3> Genus for biomolecules </h3>
<p>Genus for biomolecules is a database that collects information about
topological structure and complexity of proteins and RNA chains, which
is captured by the genus of a given chain and its subchains. For each
biomolecule this information is shown in the form of a genus trace
plot, as well as a genus matrix diagram. Such information is assembled
for all protein and RNA structures deposited in the PDB.</p>
<a href="https://genus.fuw.edu.pl">Genus for biomolecules server webpage</a>

     <h3> VERY important video 😉</h3>
<iframe width="840" height="472.5" src="https://www.youtube.com/embed/Vb8Vut_VD2M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

</div>
</div>
{% endblock %}
