{% extends "index.html" %}

{% block body %}
<div class="container">


<div class="row">
    
    <div class="col–md–12">

     <h2> Program </h2>
<ul>

<h3> Tuesday 22nd June – Popular science talks in Polish </h3>

<li> 17:00 - 17.45 Popular science talk (in Polish)
<li> 17.45 - 18.00 break
<li> 18:00 - 19:00 "Knots on the border of physics, chemistry and biology" – discussion (in Polish) by Przytycki, Minor, Cieplak, Niemyska, Sulkowska


<h3> Wednesday 23rd June – Popular science talks in English + pre–workshop </h3>

<li> 15:00 - 15:45 Popular science talk: "On knot theory" (in English) 
<li> 15:45 - 16:15 Discussion (in English) 
<li> 16:15 - 17:00 coffee break 
<li> 17:00 - 19:00 Hands on solving problems with installations of Topoly, Knot_pull, Py_lasso, Py_link (by Paweł Rubach)

<h3> Thursday 24th – Workshops day 1</h3>

<h4> Knotted proteins – KnotProt + KnotPull</h4>

<li> 14:00 - 14:30 General introduction to knotted proteins (by Ken Millett) </li>

<h5>hands on workshop:</h5>

<li> 14:30 - 15:00 KnotProt Database – how to search data, find similar topologies, etc. (by Joanna
Sulkowska/Niewieczerzal)
<li> 15:00 - 15:15 coffee break 
<li> 15:15 - 15:45 KnotProt Server – how to run your own analysis (by Paweł Rubach/Szymon Niewieczerzał)
<li> 15:45 - 16:15 KnotPull – how to install and use the software (by Wanda Niemyska/Bartek Greń)
<li> 16:15 - 16:30 coffee break </li>


<h4> Proteins with links – LinkProt </h4>

<li> 16:30 - 16:50  General introduction to proteins with links (by Przytycki) </li>

<h5>hands on workshop:</h5>

<li> 16:50 - 17:10  LinkProt Database – how to search data, find similar topologies, etc. (by Joanna Sulkowska)
<li> 17:10 - 17:30  Linkprot Server – how to run your own analysis (by Sulkowska/Niewieczerzal)
<li> 17:30 - 18:00  coffee break </li>

<h4> Lasso proteins – LassoProt + PyLasso </h4>

<li> 18:00 - 18:20  General introduction – how to detect lassos (by Piotr Sułkowski)
<li> 18:20 - 18:40  Examples of interesting lasso proteins (by Ellinor Haglund)
<li> 18.40 - 19:00  coffee break

<h5>hands on workshop:</h5>

<li> 19:00 - 19:15  LassoProt Database – how to search data, find similar topologies, etc. (by Bartek Greń)
<li> 19:30 - 19:50  LassoProt Server – how to run your own analysis (by Wanda Niemyska)
<li> 19:50 - 20:10  PyLasso – how to use the PyMol plugin (by Bartek Greń/Wanda Niemyska)


<h3> Friday 25th – Workshops day 2</h3>

<h4> Genus for biomolecules (proteins and RNA) </h4>

<li> 14:00 - 14:20  General introduction to RNA origami and complexity (by Ebbe Andersen)

<h5>hands on workshop:</h5>

<li> 14:20 - 14:50  Genus characteristics, complexity, and database (by Piotr Sułkowski)
<li> 14:50 - 15:05  Gnus Server – how to run your own analysis (by Rubach)
<li> 15:05 - 15:20  coffee break


<h4> Knotted chromosomes – KnotGenome </h4>

<li> 15:20 - 15:50  General introduction to knotted chromosomes (by Peter Virnau)

<h5>hands on workshop:</h5>

<li> 15:50 - 16:30  KnotGenome Server – how to run your own analysis and interpret the results (by Wanda Niemyska/Szymon Niewieczerzał)
<li> 16:30 - 17:00  coffee break

<h4> Topoly – Python package to study topology of proteins and other (bio)polymers </h4>

<li> 17:00 - 17:20  General introduction to the package (by Niemyska/Greń/Sulkowska)

<h5> practical use: </h5>

<li> 17:20 - 17:35  Technicalities and installation process (by Paweł Rubach)
<li> 17:35 - 18:30  Some examples of how to use Topoly I (by Bartek Greń/Rubach)
<li> 18:30 - 19:00  coffee break
<li> 19:00 - 19:30  Some examples how to use Topoly II (by Wanda Niemyska/Rubach)


<h3> Saturday 26th – workshop for children (on site) </h3>

<li> 9.30 - 10.00 – Piotr Sułkowski (14-...)
<li> 10.00 - 10.30 – Bartosz Greń (10-... )
<li> 10.30 - 11.00 – Joanna Sulkowska (5-7 years)
<li> 11.30 - 12.00 – Wanda Niemyska (7-10 years)

</ul>
</div>

</div>
</div>
{% endblock %}
