{% extends "index.html" %}

{% block body %}
<div class="container">


<div class="row">
<div class="col–md–12">

<h4>All meetings are held <a href="https://us02web.zoom.us/j/81787023487?pwd=ZEJTckdERUlZOVUwTEpHYk1GMHYxdz09">at Zoom platform over here.</a><br>
Times of events are in GMT+2 (Warsaw, Paris, Zurich, Cairo, Johannesburg).</h4>


<h2> Program </h2>
<ul>

    <h3> Tuesday 22nd June – Popular science talks in Polish </h3>
    <ul>
        <li> 17:00 - 17.45 Popular science talk (in Polish) „Teoria węzłów w historycznej perspektywie" ("Knot Theory in Historical Perspective") <a href="https://home.gwu.edu/~przytyck/">by Józef Przytycki, The George Washington University</a>
        <li> 17:45 - 18:30 "Knots on the border of physics, chemistry and biology" – discussion (in Polish) by Przytycki, Minor, Cieplak, Niemyska, Sulkowska
    </ul>

    <h3> Wednesday 23rd June – Popular science talks in English + pre-workshop </h3>
    <ul>
        <li> 15:00 - 15:45 Popular science talk: "The world of proteins -- what do we know about them" <a href="https://www.ch.cam.ac.uk/sophie-jackson">by Sophie Jackson, Cambridge University</a> 
        <li> 15:45 - 16:15 Discussion (in English) 
        <li> 16:15 - 17:00 coffee break 
        <li> 17:00 - 19:00 Hands on solving problems with installations of Topoly, Knot_pull, Py_lasso, Py_link (by Paweł Rubach)
    </ul>

    <h3> Thursday 24th – Workshops day 1</h3>
    <h4> Knotted proteins – KnotProt + KnotPull</h4>
    <ul>

        <li> 14:00 - 14:30 General introduction to knotted proteins (by Ken Millett) </li>

        <h5 style="color:red"> hands on workshop:</h5>

        <li> 14:30 - 15:00 KnotProt Database – how to search data, find similar topologies, etc. (by Joanna
        Sulkowska/Szymon Niewieczerzal)
        <li> 15:00 - 15:15 coffee break 
        <li> 15:15 - 15:45 KnotProt Server – how to run your own analysis (by Paweł Rubach/Szymon Niewieczerzał)
        <li> 15:45 - 16:15 KnotPull – how to install and use the software (by Bartosz Greń)
        <li> 16:15 - 16:30 coffee break </li>
    </ul>

    <h4> Proteins with links – LinkProt </h4>
    <ul>

        <li> 16:30 - 17:00  General introduction to proteins with links (by Przytycki) </li>

        <h5 style="color:red"> hands on workshop:</h5>

        <li> 17:00 - 17:30  LinkProt Database and Server – how to search data, find similar topologies, run your own analysis (by Joanna Sulkowska/Szymon Niewieczerzal)
        <li> 17:30 - 18:00  coffee break </li>
    </ul>

    <h4> Lasso proteins – LassoProt + PyLasso </h4>
    <ul>

        <li> 18:00 - 18:20  General introduction – how to detect lassos (by Piotr Sułkowski)
        <li> 18:20 - 18:40  Examples of interesting lasso proteins (by Ellinor Haglund)
        <li> 18.40 - 19:00  coffee break

        <h5 style="color:red"> hands on workshop:</h5>

        <li> 19:00 - 19:20  LassoProt Database – how to search data, find similar topologies, etc. (by Wanda Niemyska)
        <li> 19:20 - 19:40  LassoProt Server – how to run your own analysis (by Wanda Niemyska)
        <li> 19:40 - 20:00  PyLasso – how to use the PyMol plugin (by Bartosz Greń)
    </ul>

    <h3> Friday 25th – Workshops day 2</h3>
    <h4> Genus for biomolecules (proteins and RNA) </h4>
    <ul>
        <li> 14:00 - 14:40  General introduction to RNA origami and complexity (by Ebbe Andersen)

        <h5 style="color:red"> hands on workshop:</h5>

        <li> 14:40 - 15:05  Genus characteristics, complexity, and database (by Piotr Sułkowski/Paweł Rubach)
        <li> 15:05 - 15:20  coffee break
    </ul>

    <h4> Knotted chromosomes – KnotGenome </h4>
    <ul>
        <li> 15:20 - 15:50  General introduction to knotted chromosomes (by Peter Virnau)

        <h5 style="color:red"> hands on workshop:</h5>

        <li> 15:50 - 16:30  KnotGenome Server – how to run your own analysis and interpret the results (by Wanda Niemyska/Szymon Niewieczerzał)
        <li> 16:30 - 17:00  coffee break
    </ul>

    <h4> Topoly – Python package to study topology of proteins and other (bio)polymers </h4>
    <ul>
        <li> 17:00 - 17:20  General introduction to the package (by Wanda Niemyska/Bartosz Greń/Joanna Sulkowska)

        <h5 style="color:red"> hands on workshop: </h5>

        <li> 17:20 - 17:35  Technicalities and installation process (by Paweł Rubach)
        <li> 17:35 - 18:30  Some examples of how to use Topoly I (by Bartosz Greń/Paweł Rubach)
        <li> 18:30 - 19:00  coffee break
        <li> 19:00 - 19:30  Some examples how to use Topoly II (by Wanda Niemyska/Paweł Rubach)
    </ul>


    <h3> Saturday 26th – workshop for children (on site) </h3>
    <ul>
        <li> 9.30 - 11.00 – Piotr Sułkowski, Bartosz Greń (11+ years)
        <li> 11.00 - 11.45 – Joanna Sulkowska, Wanda Niemyska (5-10 years)
    </ul>

</ul>
</div>
</div>
</div>
{% endblock %}
